// SAMPLE IMPLEMENTATION

// Colors
// $red: #EF4B46;
// $blue: dodgerblue;
// $yellow: rgba(239, 181, 67, 1);
$theme-color: #fff;
$w3-white: #222222;
$w3-lightblue: #00c1de;
$brand-primary: #2ea3f2;
$bg-light: #f8f9fa;
$background-gray: #f8fafb !default;
$background-gray-100: #f3eeee;
$mediumgray: #888888;
$text-gray: #9e9e9e;

//navbar color
$navbar-gray: #e3e9ed;
$gray-light: #f3f4f6;
$gray-light-100: #dbdcde;
//border-color
$bordercolor-gray: #e5eaf1;
$bordercolor-gray-100: #ced4da;
$bordercolor-gray-200: #dedede;
$gray-500: #adb5bd !default;

//icon color
$icon-gray: #adb5bd;
$icon-green: #2b9f72;
$icon_red: red;

//buttoncolor
$mediumseagreen: #3cb371;
$radiobutton-gray: #f4f4f4;
//fontvariable
$font-san: 'Open Sans', sans-serif;
