.top-header {
  padding: 5px 0;
  padding-left: 12px;
  .breadcrumb {
    background: transparent !important;
    width: 100%;
    a,
    a:hover {
      text-transform: capitalize;
      text-decoration: none;
      cursor: default;
      color: #6b6b6b;
    }
    .active-bradcrumb a,
    .active-bradcrumb a:hover {
      color: #3072ff;
      font-size: 21px;
    }
    .breadcrum-last-item {
      margin-top: 4px;
    }
    .breadcrum-first-item {
      margin-top: 0px;
    }
  }
}
