.header {
  .header-dropdown {
    height: 2.95rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
  }
  .header-dropdown div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-dropdown div b {
    font-size: 20px;
    font-weight: 400;
  }
  .header-dropdown div sup {
    color: #e44b32;
  }
  i {
    padding-right: 10px;
  }
  span {
    color: #6b6b6b !important;
  }
  .header-dropdown {
    background: transparent !important;
    border-color: rgb(211, 211, 211) !important;
    border-radius: 25px !important;
  }
  .header__dropdown-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-toggle i {
    padding-right: 0px !important;
    font-size: 24px;
  }
  .dropdown {
    padding: 15px;
    background-color: white;
  }
  .uil-signout {
    font-weight: bold;
    font-size: 20px;
  }
}

.headerProfileImage {
  height: 40px;
  border: 1px solid #8e8e8e;
  width: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.headerProfileImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.nav-link {
  color: #8e8e8e !important;
}
